{% extends '../../page-base.html' %}
{% load static %}
{% block content %}
<div class="shop-list-section section-fluid-270 section-top-gap-100">
    <div class="box-wrapper">
        <div class="shop-list-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="product-shop-filter-info">
                            <li class="prduct-item-traking"><span>total 08 of 40</span></li>
                            <li class="prduct-item-filter">
                                <select name="choice">
                                    <option value="first">New Arrival</option>
                                    <option value="second" selected>Featured</option>
                                    <option value="third">Popular</option>
                                </select>
                            </li>
                        </ul>

                        <div class="product-shop-list-items">
                            <div class="row mb-n25">
                                {% for product in  products %}
                                    {% include './product-box.html' %}
                                {% endfor %}
                                
                            </div>
                        </div>

                        <!-- Start Pagination -->
                        <div class="d-flex justify-content-center">
                            <ul class="page-pagination">
                                <li class="icon-direction icon-direction--prev"><a href="#"><span class="material-icons-outlined">arrow_left</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li class="icon-direction icon-direction--next"><a href="#"><span class="material-icons-outlined">arrow_right</span></a></li>
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Shop List Section:::... -->
{% endblock content %}
