{% load static %}
<div class="col-xl-4 col-md-6 col-12 mb-25">
    <!-- Start Product Single Item - Style 1 -->
    <div class="product-single-item-style-1">
        <a href="product-details-default.html" class="image img-responsive">
            <img class="img-fluid" src="{{api_url}}{{product.images.0.image}}" alt="">
        </a>
        <div class="content">
            <div class="top">
                <span class="catagory">{{product.category.0.brand.name}} {% for item in product.category.0.collection %}{%if forloop.first%},  {%endif%}{{ item.name}}{%if not forloop.last%},  {%endif%}{% endfor %} </span>
                <h4 class="title"><a href="product-details-default.html">{{product.name}}</a></h4>
                <span class="price">€{{product.price.0.price}}
                </span>
            </div>
            <div class="bottom">
                <ul class="review-star">
                    <li class="fill"><span class="material-icons">star</span></li>
                    <li class="fill"><span class="material-icons">star</span></li>
                    <li class="fill"><span class="material-icons">star</span></li>
                    <li class="fill"><span class="material-icons">star</span></li>
                    <li class="fill"><span class="material-icons">star_half</span></li>
                </ul>
                <div class="product-event-items">
                    <a href="cart.html" class="btn cart-btn">Add to cart</a>
                    <a href="wishlist.html" class="btn wishlist-btn"><span class="material-icons">favorite_border</span></a>
                </div>
            </div>

        </div>

    </div>
    <!-- End Product Single Item - Style 1 -->
</div>