{% extends '../../base.html' %}
{% load static%}
{% block content %}
<!-- ...:::: End Add Cart Offcanvas Section:::... -->
    {% include 'frontend/pages/home/section1.html' %}
    {% include 'frontend/pages/home/section2.html' %}
    {% include 'frontend/pages/home/section3.html' %}
    {% include 'frontend/pages/home/section4.html' %}
    {% include 'frontend/pages/home/section5.html' %}
    {% include 'frontend/pages/home/section6.html' %}
    {% include 'frontend/pages/home/section7.html' %}
    {% include 'frontend/pages/home/section8.html' %}

       
{% endblock content %}