{% load static %}
{% load rest_framework %}
<div class="col-auto d-flex align-items-center">
    <div class="header-event">
        <!-- Start Menu event -->
        <div class="menu-event dropdown">
            <button class="main-menu-event dropdown-toggle" data-bs-toggle="dropdown"><img src="{% static 'assets/images/icons/icon-open-menu.svg' %}" alt=""><span>Menu</span><img src="{% static 'assets/images/icons/icon-arrow-drop-down.svg' %}" alt=""></button>
            <ul class="mainmenu-nav dropdown-menu">
                {% for collection in api1 %}
                    <li class="menu-items">
                        <a href="{% url 'slug_all_products' collection.slug %}">{{collection.name|title}} {% if collection.subcategory %}<span class="material-icons">arrow_right</span>{% endif %}</a>
                        {% if collection.subcategory %}
                            
                            <div class="has-dropdown">
                                <div class="menu-content">
                                    <h6 class="title">{{collection.text|title}}</h6>
                                    <ul class="submenu">
                                        {% for cs in  collection.subcategory%}
                                            <li><a href="
                                                {% if cs.slug %}{% url 'sub_slug_all_products' slug=collection.slug sub_slug=cs.slug%} {% endif %}
                                                ">{{cs.name|title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                        {% endif %}
                        
                    </li>
                {% endfor %}
                
                <li class="menu-items">
                    <a href="#">Pages <span class="material-icons">arrow_right</span></a>
                    <div class="has-dropdown">
                        <div class="menu-content">
                            <h6 class="title">Inner Pages</h6>
                            <ul class="submenu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error.html">404-Error</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="menu-items"><a href="contact.html">Contact Us</a></li>
                
                    
            </ul>
        </div>

        <div class="search-event">
            <input class="header-search" type="search" placeholder="Search">
            <button class="header-search-btn" type="submit"><img src="{% static 'assets/images/icons/icon-search.svg' %}" alt=""></button>
        </div>
        <!-- End Menu event -->
    </div>
</div>